
<div class="pt-8 flex justify-center items-center">
  <a class="text-lg group border border-white/80 relative cursor-pointer overflow-hidden whitespace-nowrap px-6 py-4  transition-all duration-301 hover:scale-105 hover:shadow-[0_0_40px_8px_rgba(62,61,117,0.7)] rounded-lg" href="/"> Return </a>
</div>

<style>
  a {
  background-image: radial-gradient(ellipse 80% 50% at 50% 100%,#c2c1c1,rgba(77, 9, 9));
  color:rgb(124, 218, 249);
  font-family: 'IRON MAN OF WAR';
  letter-spacing: 6px;
  }
</style>