---
import KnowMoreButton from "../../components/interactiveButtons/KnowMoreButton.astro"
import Bec from "../../components/Bec.astro";
---


<section>
  <h3 class="title" id="Armors">Armors</h3>
  <p class="text-gray-400 text-lg text-center pb-3">Let's take a quick look at some of the iconic armor that Mr. Stark had..</p>
  <Bec></Bec>
  <KnowMoreButton> <slot>All Armors</slot> </KnowMoreButton>
</section>