---
import Pepper3D from "../../components/InteractiveAreas/Pepper3D.astro";

---

<section class='flex flex-col justify-center items-center py-16' id='Heart'>
  <h3 class="title">Wife</h3>
  <div class="h-full " >
    <p class="text-gray-400 text-center text-xl" translate="no">Virginia <strong class="text-white" translate="no">"Pepper" </strong> Potts</p>
    <Pepper3D/>
    <p class='text-gray-300 text-center px-4 '>As her relationship with Stark developed, their personal bond grew stronger, and they eventually became a couple. In addition to her executive work, Pepper Potts has also been involved in Iron Man's adventures, contributing to his intelligence and bravery in crisis situations.</p>
  </div>
</section>

<style>
  p {
    max-width: 500px;
  }
</style>