---

---

<h3 class="title">Houses stark</h3>
<section class='p-4 h-full grid md:grid-cols-2 lg:grid-cols-3 gap-6' id='Houses'>
  <div class='pb-5 '>
    <img class='w-full bg-cover rounded-lg pb-2' src='/src/layouts/strakLife/imagesLocals/casaTony.png' />
    <p class='text-gray-300 text-center text-sm'>Tony Stark's first iconic residence was a mansion, located at <strong class='text-white'>10880 Malibu point, California.</strong> On the edge of an impressive cliff, this house showed his predilection for design and innovation. A fusion of cutting-edge technology and modern architecture, this mansion served as both a refuge and a testament to Stark's eclectic tastes.</p>
  </div>

  <div class='pb-5'>
    <img class='w-full bg-cover rounded-lg pb-2' src='/src/layouts/strakLife/imagesLocals/torreStark.jpeg' />
    <p class='text-gray-300 text-center text-sm'>Torre Stark is a skyscraper located in <strong class="text-white">Midtown Manhattan, New York City, USA.</strong> The structure is comprised of a main tower with 93 floors, flanked by a 35-story South Building and a 55-story North Building. At the top of the main tower was the superhero's watchtower.</p>
  </div>

  <div class='pb-6'>
    <img class='w-full bg-cover rounded-lg pb-2' src='/src/layouts/strakLife/imagesLocals/cabañaStark.jpeg' />
    <p class='text-gray-300 text-center text-sm'>Tony Stark's last home in the world was a remote and technologically advanced mansion. With a luxurious design and an impressive security system, this residence stood out for its elegance. The interior combined art with comfort and was equipped with cutting-edge technology controlled by JARVIS. The house automatically adjusted to create the perfect ambiance. Although Tony is no longer with us, his legacy lives on in this extraordinary home where technology and elegance merged to create a unique residence.</p>
  </div>
</section>

<style>
  div {
    max-width: 400px;
  }
</style>