---
import TonyStark from "./TonyStark.astro";
import Houses from "./Houses.astro";
import Armors from "./Armors.astro";
import Advengers from "./Advengers.astro";
import Heart from "./Heart.astro";
---

<div>
  <TonyStark/>
  <Houses/>
  <Armors/>
  <Heart/>
  <Advengers/>
</div>