---
import Tony3d from '../../components/InteractiveAreas/Stark3d.astro'
---

<section class='flex flex-col justify-center items-center py-16' id='Tony'>
  <h2 class='title'>Tony Stark</h2>
  <div class="h-full " >
    <Tony3d/>
    <p class='text-gray-300 text-center px-4 '>Beyond his identity as Iron Man, is a man with a fascinating life. Born into wealth, his brilliance manifested itself from an early age. As heir to Stark Industries, he transformed the company into a global technology empire, introducing advances in clean energy, medicine and defense.
      <strong class="text-white">As he can see, he is more than a genius, millionaire, playboy and philanthropist.</strong></p>
  </div>
</section>

<style>
  @font-face {
    font-family: 'IRON MAN OF WAR';
    src: url(../../public/IRON\ MAN\ OF\ WAR\ 002\ NCV.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace,
			'IRON MAN OF WAR';
	}

  .title is:global(h2){
		color: #7cdaf9;
		font-family: 'IRON MAN OF WAR';
		text-align: center;
		font-size: 3rem;
		line-height: 1;
		animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
  p {
    max-width: 500px;
  }
</style>