---

import ButtonArmorsLeft from './interactiveButtons/ButtonArmorsLeft.astro'
import ButtonArmorsRight from './interactiveButtons/ButtonArmorsRight.astro'
import ImagesArmors from './InteractiveAreas/ImagesArmors.astro'
---
<div class="flex justify-center items-center ">
  <ImagesArmors/>
  <!-- <ButtonArmorsLeft/> -->
  <!-- <ButtonArmorsRight/> -->
</div>
