---
import Jarvis from '../images/jarvis-1.mp4'
---

<header class='bg-black w-full h-full py-12 px-3'>
  <div class="grid md:grid-cols-3 lg:grid-cols-3 text-center items-center">
    <p class='text-gray-300 text-center lg:text-base'> <strong class='text-gray-100'> SGreetings, distinguished attendees, ladies, and gentlemen. </strong> I am JARVIS, the advanced Artificial Intelligence developed by Tony Stark. </p>
    <video autoplay muted preload='true' loop src={Jarvis} class='relative xl:top-0 w-full h-full object-cover '></video>
    <p class='text-gray-300 text-center lg:text-base'>I'll guide you through a captivating summary of Tony Stark's life and his transformative impact on the world, including his connection to the Avengers.</p>
  </div>
</header>