---
interface Props {
	title: string;
}

const { title } = Astro.props;

import FixedPage from './fixedPage/FixedPage.astro';
import StarkLife from './strakLife/StarkLife.astro';
import IronIcon from '../../public/ironman.ico';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={IronIcon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<FixedPage/>
		<main class="bg-black  w-full h-[full] pb-2">
			<StarkLife/>
		</main>
	</body>
</html>
<style>
  @font-face {
    font-family: 'IRON MAN OF WAR';
    src: url(../../public/IRON\ MAN\ OF\ WAR\ 002\ NCV.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace,
			'IRON MAN OF WAR';
	}
	p {
		font-family: 'Courier New', Courier, monospace;
	}

	.title is:global{
		color: #7cdaf9;
		font-family: 'IRON MAN OF WAR';
		text-align: center;
		font-size: 3rem;
		line-height: 1;
		animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}

	@keyframes pulse {
		50% {
			opacity: .5;
		}
	}
</style>
