---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body>
    <section class=" w-full h-full flex flex-col justify-center items-center">
      <div class=" bg-[#151615] ">
        <p class="text-white mt-10 text-center text-3xl">LO SIENTO EN ESTE MOMENTO!</p>
        <img class="w-full h-[200px] my-10 rounded-lg" src="/src/images/babas.jpeg"/>
        <p class="text-white mb-10 text-center text-3xl">NO ESTAMOS DISPONIBLES... GRACIAS POR SU ATENCION</p>
      </div>
    </section>
  </body>
</html>