---
interface Props {
	title: string;
}

const { title } = Astro.props;
import IronIcon from '../../public/ironman.ico'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Historia de Iron Man, quien es, donde vivio, las armaduras que tuvo, quien es su esposa y su equipo de vengadores" />
      <meta property="og:title" content="Vida de Tony Stark"/>
      <meta property="og:description" content="Historia de Iron Man, quien es, donde vivio, las armaduras que tuvo, quien es su esposa y su equipo de vengadores"/>
      <meta property="og:image" content="/public/ironman.ico"/>
      <link rel="alternate" href="https://iron-man-eta.vercel.app/en" hreflang="en-GB">
      <link rel="cannonical" href="https://iron-man-eta.vercel.app/">
      <link rel="icon" href={IronIcon} />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <meta name="robots" content="index, follow"/>
      <meta name="theme-color" content="#000" />
      <title>{title}</title>
    </head>
  </head>
  <body>
    <section class=" w-full h-full flex flex-col justify-center items-center">
      <div class=" bg-[#151615] ">
        <p class="text-white mt-10 text-center text-3xl">LO SIENTO EN ESTE MOMENTO!</p>
        <img class="w-full h-[200px] my-10 rounded-lg" src="/src/images/babas.jpeg"/>
        <p class="text-white mb-10 text-center text-3xl">NO ESTAMOS DISPONIBLES...</p>
      </div>
    </section>
  </body>
</html>