---
import AdvengersLogo from './strakLife/imagesLocals/imageIconAdvengers.png'
import Advengers1 from './strakLife/imagesLocals/The-Avengers-End-Pictures.jpeg'

interface Props {
	title: string;

}
const { title } = Astro.props; 

import ReturnButton from '../components/interactiveButtons/ReturnButton.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <meta name="description" content="Astro description" />
      <link rel="icon" href="/public/ironman.ico" />
      <meta name="generator" content={Astro.generator} />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{title}</title>
  </head>
  <body>
    <section class="bg-black w-full h-full ">
      <div class="flex flex-col justify-center items-center">
        <ReturnButton/>
        <h2 class="title pt-8 ">The Advengers</h2>
        <picture>
          <img src={AdvengersLogo.src} alt="icon Advengers">
        </picture>
      </div>
      <div class="p-1 md:grid md:grid-cols-2 gap-3 justify-items-center">
        <article class="py-4 shadow-[#ccc] shadow-inner px-2 rounded-lg max-w-[35rem] mb-3">
          <h4 class="text-gray-300 text-center font-bold">First generation</h4>
          <p class="text-gray-400 text-center"><strong class="text-white">Nick Fury</strong>, the director of S.H.I.E.L.D in 2012; Gather a group of heroes to face the threat of the Norse god Loki and his invading army <br> <strong>"Los Chitauri"</strong>.</p>
          <picture class="w-full  flex justify-center items-center">
            <img src={Advengers1.src} alt="" class="rounded-lg sm:w-[420px]">
          </picture>
          <p class="text-center text-gray-400">The first Héores to be part of the team are: <strong class="text-white "> Iron Man, Captain America, Thor, Hulk, Black Widow, Hawkeye.</strong></p>
        </article>

        <article class="py-4 shadow-[#ccc] shadow-inner px-2 rounded-lg max-w-[35rem] mb-3">
          <h4 class="text-gray-300 text-center font-bold">Second generation</h4>
          <p class="text-gray-400 text-center">It is the most consolidated team, commanded by Captain America. Mr. Stark and MR. banner attempted to use the Mind Stone to create an artificial intelligence called <stron class="text-white">'ULTRON'</stron>, intended to protect the Earth.</p>
          <p class="text-gray-400 text-center">However, Ultron becomes sentient and spirals out of control, adopting the belief that the only way to save the world is to exterminate humanity..</p>
          <picture class="w-full flex justify-center items-center">
            <img src="https://th.bing.com/th/id/R.470c51f22bef6a41e48d89b417b7d7cd?rik=TAEQsVZ%2fW1OFZA&pid=ImgRaw&r=0" alt="" class="rounded-lg sm:w-[420px]">
          </picture>
          <p class="text-center text-gray-400">They joined the team that same year : <strong class="text-white"> Wanda and Pietro Maximoff.</strong></p>
        </article>

        <article class="py-4 shadow-[#ccc] shadow-inner px-2 rounded-lg max-w-[35rem] mb-3">
          <h4 class="text-gray-300 text-center font-bold">third generation</h4>
          <p class="text-gray-400 text-center">Years later and with diplomatic problems, internal disputes and different beliefs, the team separates. Until a new Villain called <strong class="text-white">'Thanos'</strong>,  tries to get hold of all the gems in order to destroy half of all living beings in the universe. The group reunites to fight this new enemy.</p>
          <picture class="w-full  flex justify-center items-center">
            <img src="https://i.blogs.es/fdeaa7/cartel-vengadores-infinity-war/1366_2000.jpg" alt="" class="rounded-lg sm:w-[420px]">
          </picture>
          <p class="text-center text-gray-400">For this new battle, allies joined, they are: <strong class="text-white "> Cnel James Rhodes, Doctor Strange, Peter Parker, T'Chall, Gamora, Nebula, Vision, Sam Wilson, Bucky Barnes, Wong, Mantis, Drax, Groot, Rocket and Peter Quill.</strong></p>
        </article>

        <article class="py-4 shadow-[#ccc] shadow-inner px-2 rounded-lg max-w-[35rem] mb-3">
          <h4 class="text-gray-300 text-center font-bold">Fourth generation</h4>
          <p class="text-gray-400 text-center">5 years have passed since Thanos emerged victorious from the battle, half of the planet's total population disappeared. During that time the heroes were in search of the 'Villain', emphasizing the words of the SR. Stark to Loki: <strong class="text-white">'BECAUSE IF WE CAN'T PROTECT EARTH, YOU CAN BE DAMN WELL SURE WE'LL AVENGE IT'.</strong> </p>
          <p class="text-gray-400 text-center">Hope was not lost to reverse the events of Thanos, until Sam Wilson with the help of Banner and MR. Stark found a way to get his friends back.</p>
          <picture class="w-full  flex justify-center items-center">
            <img src="https://images.hdqwalls.com/download/avengers-end-game-final-battle-scene-op-1336x768.jpg" alt="" class="rounded-lg sm:w-[420px]">
          </picture>
          <p class="text-center text-gray-400">For this last battle we have new friends, they are: <strong class="text-white "> Carol Danvers, Hope van dyne, Valkirie, The ancient one.</strong></p>
        </article>
      </div>
    </section>
  </body>
</html>

<style>
  code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace,
			'IRON MAN OF WAR';
	}

  @font-face {
    font-family: 'IRON MAN OF WAR';
    src: url(../../public/IRON\ MAN\ OF\ WAR\ 002\ NCV.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  p {
		font-family: 'Courier New', Courier, monospace;
	}

	.title {
		color: #7cdaf9;
		font-family: 'IRON MAN OF WAR';
		text-align: center;
		font-size: 3rem;
		line-height: 1;
		animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}

	@keyframes pulse {
		50% {
			opacity: .5;
		}
	}
</style>